In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
df_ps = spark.read.csv('data3.csv', header = True, inferSchema = True)

In [4]:
df_ps.show()

+-------+----+-----------+------+------+
|   Name| Age|Nationality|Gender|Salary|
+-------+----+-----------+------+------+
|   Sean|  27|        USA|     0| 20000|
|    Rae|  22|        USA|     1| 25000|
|   Ryan|  27|        USA|     0| 17000|
| Joseph|null|        USA|     0| 19000|
|   Yali|  59|        USA|     1| 40000|
|Harshit|null|        IND|     0| 10000|
|  Maria|  24|       null|     1| 14000|
|   null|  30|       null|  null|  null|
+-------+----+-----------+------+------+

### Filter Operations
- find salary of people with <= 10000

In [6]:
df_ps.filter("Salary <= 15000").show()

+-------+----+-----------+------+------+
|   Name| Age|Nationality|Gender|Salary|
+-------+----+-----------+------+------+
|Harshit|null|        IND|     0| 10000|
|  Maria|  24|       null|     1| 14000|
+-------+----+-----------+------+------+

In [10]:
df_ps.filter('Salary <=17000').select(['Name', 'age']).show()

+-------+----+
|   Name| age|
+-------+----+
|   Ryan|  27|
|Harshit|null|
|  Maria|  24|
+-------+----+

### another way to filter

In [9]:
df_ps.filter(df_ps['Salary'] <= 17000).show()

+-------+----+-----------+------+------+
|   Name| Age|Nationality|Gender|Salary|
+-------+----+-----------+------+------+
|   Ryan|  27|        USA|     0| 17000|
|Harshit|null|        IND|     0| 10000|
|  Maria|  24|       null|     1| 14000|
+-------+----+-----------+------+------+

### filter with and

In [12]:
df_ps.filter((df_ps['Salary'] <= 17000) & (df_ps['Salary'] > 10000)).show()

+-----+---+-----------+------+------+
| Name|Age|Nationality|Gender|Salary|
+-----+---+-----------+------+------+
| Ryan| 27|        USA|     0| 17000|
|Maria| 24|       null|     1| 14000|
+-----+---+-----------+------+------+

### inverse filter

In [15]:
df_ps.filter(~(df_ps['Salary'] <= 17000)).show()

+------+----+-----------+------+------+
|  Name| Age|Nationality|Gender|Salary|
+------+----+-----------+------+------+
|  Sean|  27|        USA|     0| 20000|
|   Rae|  22|        USA|     1| 25000|
|Joseph|null|        USA|     0| 19000|
|  Yali|  59|        USA|     1| 40000|
+------+----+-----------+------+------+