In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [4]:
spark

In [5]:
df_p1 = spark.read.csv('data3.csv', inferSchema = True, header = True)

In [7]:
df_p1.show()

+-------+----+-----------+------+------+
|   Name| Age|Nationality|Gender|Salary|
+-------+----+-----------+------+------+
|   Sean|  27|        USA|     0| 20000|
|    Rae|  22|        BAH|     1| 25000|
|   Ryan|  27|        USA|     0| 17000|
| Joseph|null|        USA|     0| 19000|
|   Yali|  59|        CHN|     1| 40000|
|Harshit|null|        IND|     0| 10000|
|  Maria|  24|        CAD|     1| 14000|
|  Divya|  30|        IND|  null|  null|
+-------+----+-----------+------+------+

In [8]:
df_p1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Gender: integer (nullable = true)
 |-- Salary: integer (nullable = true)

### GroupBy
- needs to be paired with an aggregate function

In [15]:
df_p1['Age', 'Salary'].groupBy('Age').sum().show()

+----+--------+-----------+
| Age|sum(Age)|sum(Salary)|
+----+--------+-----------+
|  27|      54|      37000|
|  22|      22|      25000|
|null|    null|      29000|
|  59|      59|      40000|
|  24|      24|      14000|
|  30|      30|       null|
+----+--------+-----------+

In [19]:
df2 = spark.read.csv('data4.csv', header = True, inferSchema = True)

In [20]:
df2.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [21]:
df2.groupBy('Name').sum('salary').show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [23]:
df2.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

### get the count with groupby

In [24]:
df2.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [25]:
df2.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [30]:
df2.agg({'Salary': 'mean'}).show()

+-----------+
|avg(Salary)|
+-----------+
|     7300.0|
+-----------+

### Who has the max salary?

In [32]:
df2.groupBy('Name').max().show()

# it's grouping by name, and then summing the salaries and then ordering them

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [33]:
df2.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|       2000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+

In [34]:
df2.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+